@tailwind base;
@tailwind components;
@tailwind utilities;

/* common css start */
:root {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Teko", sans-serif;
    font-weight: 400;
    color: #222222;
}
h1 {
    font-size: 118px;
    line-height: 110px;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 22px;
}
h6 {
    font-size: 20px;
}
.theme_text_color {
    color: #ff6809;
}
.theme_bg_color {
    background: #ff6809;
}
/* common css end */

.hero {
    background: url("./assets/hero_BG.jpg") no-repeat center/cover;
}
.feature_item {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
.feature_item:hover {
    background: #ff6809;
}
.feature_item span,
.feature_item h3,
.feature_item p {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
.feature_item:hover span,
.feature_item:hover h3,
.feature_item:hover p {
    color: #fff;
}
.about {
    position: relative;
    z-index: 1;
}
.about::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: url("./assets/about-one-shape-3.png") no-repeat;
    z-index: -1;
}
.about .image {
    position: relative;
}
.about .image::before {
    position: absolute;
    content: "";
    top: 400px;
    right: -35px;
    width: 20%;
    height: 100%;
    background: url("./assets/about-one-shape-2.png") no-repeat;
}
.counter {
    padding-top: 90px;
    padding-bottom: 90px;
    background: url("./assets/counter_bg.jpg") no-repeat center/cover;
    position: relative;
    z-index: 1;
}
.counter::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.counter_item {
    background: rgba(255, 255, 255, 0.076);
    border: 1px solid rgba(255, 255, 255, 0.317);
}
.filter_cetagories button {
    padding: 12px 20px;
    background: #ededed;
    color: #222;
}
.filter_cetagories button.active {
    background: #000;
    color: #fff;
}
.port_item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.port_item img {
    transition: all linear 0.3s;
}
.port_item:hover img {
    scale: 1.1;
}
.port_item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.port_item h5 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 10px;
    background: rgba(0, 0, 0, 0.526);
    color: #fff;
}
.partner .slick-slide {
    display: flex;
    justify-content: center;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    transition: all linear 0.4s;
    z-index: 1000;
}

.header.fixed {
    background: rgba(34, 34, 34, 0.95);
    top: 0;
    width: 100%;
}
.header.fixed .logo h3,
.header.fixed ul li a {
    color: #fff;
}
.back2top {
    position: fixed;
    bottom: -50px;
    right: 40px;
    opacity: 0;
    z-index: 999;
    transition: all linear 0.2s;
}
.back2top.fixed {
    bottom: 40px;
    opacity: 1;
}
